.Typing-Test {
  background-color: #e2e1e1;
  position: fixed; 
  top:4%;
  right:0;
  left:0;
  bottom:0;
}

.Content {
  text-align: center;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  /* position: fixed; 
  top:0;
  right:0;
  left:0;
  bottom:0; */
}

h4 {
  /* display: inline-block;
  border: 1px solid red;
  padding: 100px; */

  /* box-sizing: content-box;
  width: 100%;
  border: 1px solid red;
  padding: 5px; */

  max-width: 960px;

}

/* .invisible {
  display:none
} */

.popup-content {
  position: absolute;
  right: 50px;
  top: -200px;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

/* .google{
  position:relative; 
  left: 1792px; 
  
} */

/* .Logout{
  position: relative; 
  left: 1000px;
} */