.profile{
    background-image: url('./imgs/Paper-background.jpg');
    text-align: center;
    margin: auto;
    padding: 10%;
    position: fixed; 
    top: 10%;
    right:0;
    left:0;
    bottom:0;
}

.Title{
    position: relative;
    top: -30%;
    align-content: center;
}

.Box{
    position: relative;
    top: -20%;
}